b

def terraform_module(name, modules = {}, **kwargs):
    _terraform_module(
        name = name,
        modules = flip_modules_attr(modules),
        **kwargs
    )
azel-*
.ijwb/
.rules_terraform/
.bazelrc-local